<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="demoblaze" verbose="5" preserve-order="true">

    <test name="demoblaze">
        <classes>

            <class name="Test.LoginTests"/>
            <class name="Test.RegisterTests"/>
            <class name="Test.CategoriesTests"/>
            <class name="Test.checkoutTests"/>

        </classes>
    </test>

</suite>